body {
  max-width: 320px;
  margin: auto;
  background: #11161d;
}

img {
  display: block;
  max-width: 100%;
}

.box-title{
  background-color: #000;
}

.cta-light {
  background-color: #E6F3FF;
}

.cta-dark {
  background-color: #11161d;
}

.cta-container {
  background: url(../img/background.png);
}